<router-outlet>
  <ActionBar class="action-bar colored" title="">
    <AbsoluteLayout *ngIf="!isSearching || tab === 'ganhometro'">
      <Image stretch="aspectFit" width="73%" height="30" src="res://logo_title"></Image>
    </AbsoluteLayout>
    <StackLayout horizontalAlignment="center" *ngIf="isSearching && tab === 'meudesconto'">
      <TextField class="input input-border" [(ngModel)]="search" autocorrect="false" id="txtSearch" hint="Pesquisar" returnKeyType="done" width="80%" (returnPress)="searchOffers()"></TextField>
    </StackLayout>

    <ActionItem *ngIf="tab != 'meudesconto'" icon="" ios.position="right"></ActionItem>
    <ActionItem *ngIf="!isSearching && tab === 'meudesconto'" (tap)="enableSearch()" icon="res://ic_search_white" ios.systemIcon="12" ios.position="right"></ActionItem>
    <ActionItem *ngIf="isSearching && tab === 'meudesconto'" (tap)="clearSearch()" icon="res://ic_clear_white" ios.systemIcon="14" ios.position="right"></ActionItem>
  </ActionBar>

  <GridLayout height="30" verticalAlignment="bottom" rows="auto" cols="*,auto,*" class="network-status" visibility="{{ hasConnection ? 'collapsed' : 'visible' }}">
	  <Label col="1" text="Sem conexão teste" vertical-align="center"></Label>
	</GridLayout>

</router-outlet>